.promo {
  max-width: 100%;
  margin-top: 123px;

  @include viewport--md {
    margin-top: 20px;
  }
}

.promo__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 60% 40%;
  height: 100vh;

  @include viewport--md {
    display: block;
    cursor: pointer;
  }
}

.promo__header {
  @include viewport--md {
    padding-top: 170px;
  }
}

.promo__header h1 {
  font-family: $font-family--neue-machina;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 96px;
  color: $color-neon-blue;
  margin: 0;
  user-select: none;
}

.promo__description {
  @include viewport--md {
    position: absolute;
    left: -200%;
  }
}

.show .promo__description,
.hidden .promo__description {
  @include viewport--md {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: $color-neon-blue;
    position: absolute;
    top: 0;
    left: 0;
    transition: left .7s linear;
  }
}

.hidden .promo__description {
  @include viewport--md {
    left: -200%;
    transition: left .5s linear;
  }
}

.promo__description p {
  font-family: $font-family--neue-machina;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  color: $color-default-black;
  margin: 0;
  padding-top: 262px;
  padding-left: 30px;

  @include viewport--md {
    color: $color-default-white;
    padding-top: 35px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 20px;
  }
}

.promo__description svg {
  position: absolute;
  top: -58px;
  left: 65%;

  @include viewport--md {
    position: relative;
    top: 0;
    left: 0;
    display: block;

    .svg-item {
      fill: $color-default-white;
    }
  }
}
